<!-- Footer -->
<footer>
    <div class="container">
        <div class="row cols">
            <div class="col-sm-12 col">
                <ul class="list-inline">
                    <li><%= link_to "Home", root_path %></li>
                    <li class="footer-menu-divider">⋅</li>
                    <li><%= link_to "Projects", projects_path %></li>
                    <li class="footer-menu-divider">⋅</li>
                    <li><%= link_to "Blog", blog_path %></li>
                    <li class="footer-menu-divider">⋅</li>
                    <li><%= link_to "About", about_path %></li>
                    <li class="footer-menu-divider">⋅</li>
                    <li><%= link_to "Contact", contact_path %></li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
        <div class="row cols">
            <div class="col-sm-6 col">
                <p class="copyright text-muted large">Copyright © Sungwon Ryu 2014. All Rights Reserved</p>
            </div>
            <div class="col-sm-6 col text-right">
                <p><a href="#" id="back-to-top" class="back-to-top text-right">Back to Top<span></span></a></p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>