<header>

	<div class="screen-wrapper" id="header-show" 
		style="background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(<%= @project.image_bg.url %>) no-repeat center center; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;">
	
		<div class="heading center-vertical text-center">
		    <h1 class="h1-64 animation-fade-in-y">
				<%= h(@project.name).gsub(/\n/, '<br />').html_safe %>
		    </h1>
		    <hr class="animation-expand">
		    <h4 class="animation-fade-in">
		    	<%= h(@project.description).gsub(/\n/, '<br />').html_safe %>
		    <h4>
		</div>

	<%= render 'shared/link' %>

	</div><!--/.screen-wrapper -->
	
</header>


<section id="contents" class="contents">
	
	<div class="carousel-multi-frames">
		
		<%= render 'shared/carousel_multi_frames' %>
	
	</div>

		
	<div class="screen-wrapper">
			
	</div><!--/.screen-wrapper -->


		<div class="container">
		
		<div class="row">
			
		


			<!--

			<div class="row">
				<div class="col-md-4">
					<%#= image_tag @project.image_1, class: 'img-responsive' %>
				</div>
				<div class="col-md-4">
					<%#= image_tag @project.image_2, class: 'img-responsive' %>
				</div>
			<div class="col-md-4">
					<%#= image_tag @project.image_3, class: 'img-responsive' %>
				</div>
			</div>

			-->
			
			<p id="notice"><%= notice %></p>

			<p>
				<strong>Name:</strong>
				<%= @project.name %>
			</p>

			<p>
				<strong>Description:</strong>
				<%= @project.description %>
			</p>

			<p>
				<strong>Details:</strong>
				<%= @project.details %>
			</p>

			<p>
				<strong>Url:</strong>
				<%= @project.url %>
			</p>


			<%= link_to 'Add a new image', new_project_image_path(@project), class: 'btn btn-primary' %>


			<%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-link' %> |
			<%= link_to 'Back', projects_path, class: 'btn btn-link' %>
		
		</div><!-- /.container -->
	      
	</div>

</section>  