<header id="header-projects">
  
	<div class="heading center-vertical">

		<div class="container">

			<%= image_tag @project.image_1 %>
			
			<p id="notice"><%= notice %></p>

			<p>
				<strong>Name:</strong>
				<%= @project.name %>
			</p>

			<p>
				<strong>Description:</strong>
				<%= @project.description %>
			</p>

			<p>
				<strong>Details:</strong>
				<%= @project.details %>
			</p>

			<p>
				<strong>Url:</strong>
				<%= @project.url %>
			</p>

			<%= link_to 'Edit', edit_project_path(@project) %> |
			<%= link_to 'Back', projects_path %>
		
		</div><!-- /.container -->
       
	</div>

	<%= render 'shared/link' %>

</header>