<header>

	<div class="screen-wrapper" id="header-show" 
		style="background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(<%= @project.image_bg.url %>) no-repeat center center; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;">
	
		<div class="heading center-vertical text-center">
		    <h1 class="h1-64 animation-fade-in-y">
				<%= h(@project.name).gsub(/\n/, '<br />').html_safe %>
		    </h1>
		    <hr class="animation-expand">
		    <h4 class="animation-fade-in">
		    	<%= h(@project.description).gsub(/\n/, '<br />').html_safe %>
		    <h4>
		</div>

	<%= render 'shared/link' %>

	</div><!--/.screen-wrapper -->
	
</header>


<section id="contents" class="contents">

	<!--

	<div class="text-center">
		
		<h1 class="text-center"><%= @project.name.upcase %><br /><br /></h1>
		<h4><%= h(@project.description).gsub(/\n/, '<br />').html_safe %></h4>

	</div>

	-->
	
	<!--
	<div class="carousel-multi-frames">

		<div class="container-fluid">
			<div class="col-md-12">
		-->	
	<div class="carousel slide carousel-multi-frames" id="myCarousel">

		

		<div class="carousel-inner">


			<% @images.each do |image| %>

				<div class="item <%= (image.id == @images.first.id) ? 'active': '' %>">
					<div class="col-md-4">
						<%= image_tag image.source.url(:small), class: 'img-responsive' %>
					</div> 
				</div>

			<% end %>

		</div><!--/.carousel-inner -->
		
		<a class="left carousel-control" href="#myCarousel" data-slide="prev"> <span class="icon-prev"></span></a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="icon-next"></span></a>

	</div><!--/.carousel-mult-frames -->
		
		<!--
			</div>
		</div>/.container-fluid 
	</div>
		-->

		
	<div class="screen-wrapper">

		<div class="container">
			

			<div class="project-details">


				<p>
					<strong>Name:</strong>
					<%= @project.name %>
				</p>

				<p>
					<strong>Description:</strong>
					<%= h(@project.description).gsub(/\n/, '<br />').html_safe %>
				</p>

				<p>
					<strong>Details:</strong>
					<%= h(@project.details).gsub(/\n/, '<br />').html_safe %>
				</p>

				<p>
					<strong>Url:</strong>
					<%= @project.url %>
				</p>

			</div><!--/.project-details -->
			
		</div><!-- /.container -->

        <hr>


	</div><!--/.screen-wrapper -->


	<% if user_signed_in? %>


		<div class="container">
			

			<div class="project-details">

				<h1 class="text-center">Project Details</h1>

				<p>
					<strong>Name:</strong>
					<%= @project.name %>
				</p>

				<p>
					<strong>Description:</strong>
					<%= h(@project.description).gsub(/\n/, '<br />').html_safe %>
				</p>

				<p>
					<strong>Details:</strong>
					<%= h(@project.details).gsub(/\n/, '<br />').html_safe %>
				</p>

				<p>
					<strong>Url:</strong>
					<%= @project.url %>
				</p>

			</div><!--/.project-details -->
			
	        <hr>

	        <div class="Images">
	          
	            <h1 class="text-center">Listing Images</h1>

	            <table class="table table-hover table-bordered">
	              <thead>
	                <tr>
	                  <th class="text-center">Image</th>
	                  <th class="text-center">Name</th>
	                  <th class="text-center">Description</th>
	                  <th class="text-center">Source</th>
	                  <th colspan="2"></th>
	                </tr>
	              </thead>

	              <tbody>
	                <% @images.each do |image| %>
	                  <tr>
	                    <td class="text-center"><%= image_tag image.source.url(:thumb), class: 'img-responsive center-block' %></td>
	                    <td><%= image.name %></td>
	                    <td><%= h(image.description).gsub(/\n/, '<br />').html_safe %></td>
	                    <td><%= image.source %></td>
	                    <td><%= link_to 'Edit', edit_project_image_path(@project, image) %></td>
	                    <td><%= link_to 'Destroy', project_image_path(@project, image), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	                  </tr>
	                <% end %>
	              </tbody>
	            </table>

	            <br>

				<%= link_to 'Add a new image', new_project_image_path(@project), class: 'btn btn-primary' %>

	        </div><!-- /.images -->
			    
			<hr>

			<%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-link' %> |
			<%= link_to 'Back', projects_path, class: 'btn btn-link' %>
		
		</div><!-- /.container -->

	<% end %>

</section>  