<!-- Header Carousel -->
<%#= render 'shared/carousel_fade' %>
<header id="header-welcome">
<!--
    <div class="vertical-center">
        <div class="text-center">
            <h1>Welcome to<br />Sungwon's Works</h1>
        </div>
    </div>
-->

    <div class="os-phrases" id="os-phrases">
        <h2>I do not have</h2>
        <h2>special talent</h2>
        <h2>but I am</h2>
        <h2>passionately</h2>
        <h2>curious</h2>
        <h2>Sungwon Ryu's</h2>
        <h2>homepage</h2>
        <h2>Welcome</h2>
    </div>
</header>

<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Details</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.details %></td>
        <td><%= project.url %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>