<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" data-spy="scroll" data-target=".scroll-bar">

<%= render 'shared/navbar' %>

<%= yield %>

<%= render 'shared/footer' %>

<script>


	<!-- Opening Sequence Text Headings  -->
	$(document).ready(function() {
		$("#os-phrases > h2").lettering('words').children("span").lettering().children("span").lettering(); 
	})


	<!-- Carousel Fade -->
	$('.carousel_fade').carousel({
	    interval: 3000 //changes the speed
	})

	<!-- Carousel Multiple Frames -->
	(function(){
	  // setup your carousels as you normally would using JS
	  // or via data attributes according to the documentation
	  // http://getbootstrap.com/javascript/#carousel
	  $('#carousel123').carousel({ interval: 2000 });
	  $('#carouselABC').carousel({ interval: 3000 });
	}());

	(function(){
	  $('.carousel-showmanymoveone .item').each(function(){
	    var itemToClone = $(this);

	    for (var i=1;i<4;i++) {
	      itemToClone = itemToClone.next();

	      // wrap around if at end of item collection
	      if (!itemToClone.length) {
	        itemToClone = $(this).siblings(':first');
	      }

	      // grab item, clone, add marker class, add to collection
	      itemToClone.children(':first-child').clone()
	        .addClass("cloneditem-"+(i))
	        .appendTo($(this));
	    }
	  });
	}());


</script>

</body>
</html>
